.spinner {
    position: fixed;
    z-index: 666;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    & svg {
        max-height: 50vh;
        fill: white;
    }
}
