header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--espace-m);
    background-color: var(--couleur-principale);
    color: var(--couleur-blanc);
}
