header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--espace-m);
    background-color: var(--couleur-principale);
    color: var(--couleur-blanc);
    gap: 5rem;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;

    & .logo-container {
        display: flex;
        align-items: center;
        font-family: var(--police-accent);
        color: var(--couleur-accent2);
        font-size: var(--police-xl);
        flex-grow: 2;
    }
    & .logo {
        max-width: 100%;
        max-height: 100px;
    }
}
