nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & ul {
        display: flex;
        list-style: none;
        justify-content: flex-end;
        gap: var(--espace-m);

        & li {
            padding: var(--espace-xs);
            position: relative;

            & a {
                text-decoration: none;
                color: var(--couleur-accent);
                font-size: var(--police-m);

                &.active {
                    color: var(--couleur-accent__pale);
                }
            }

            & .ligne {
                position: absolute;
                left: 0;
                bottom: 0;
                border-bottom: 2px solid var(--couleur-accent__pale);
                height: 2px;
            }
        }
    }
}
